:root {
    --main-color: rgb(162, 162, 162);
    --mainFontColor: rgb(0, 0, 0);

    --sizeBig: 5rem;
    --sizeMedium: 3rem;
    --sizeSmall: 2rem;
    --sizeXSmall: 1rem;

}

/*EVERYTHING*/
body {
    margin: 0;
}

h1 {
    font-size: var(--sizeBig);
}

h2 {
    font-size: var(--sizeMedium);
    text-align: center;
    text-transform: uppercase;
}

h3 {
    font-size: var(--sizeSmall);
}

main {
    padding: 3rem 0;
}

button:hover {
    cursor: pointer;
}

/*HEADER*/

#headerNavContainer {
    display: flex;
}

#headerImageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#headerImageContainer>h1 {
    position: absolute;
    top: 10rem;
    left: 10rem;
}

#headerIcon {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

#headerImage {
    background-image: url(https://placehold.co/1400x600);
    width: 100vw;
    height: 70vh;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 5rem;
}

nav>a {
    padding: 0px 50px;
    text-decoration: none;
}

/*FOOTER*/
footer {
    background-color: rgb(255, 198, 136);
    text-align: center;
}

#footerIcon {
    display: flex;
    justify-content: center;
}

#footerIcon>img {
    margin: 0 2rem;
}

hr {
    border: 1px solid white;
    width: 80%;
    margin-top: 1rem;
}

#footerContact {
    padding-bottom: 2rem;
}

#footerContact > a > button {
    background-color: var(--mainFontColor);
    color: white;
    padding: 1rem;
    font-weight: bold;
    border: none;
}


/* INDEX */
#indexSectionOneContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    display: flex;
    justify-content: center;
}

#indexSectionOneContainer>article {
    width: 250px;
    padding: 0 7rem;
}

#indexSectionOneContainer>article>p>button {
    margin: 1rem 0;
}

#indexSectionOneContainer>article>p>a {
    color: var(--mainFontColor);
}

.imageContainer {
    display: flex;
    justify-content: center;
}

#indexSectionTwo {
    display: flex;
    justify-content: center;
}

#indexSectionTwoContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#indexSectionTwoText {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 6rem;
    background-color: rgb(201, 201, 255);
   /* border-radius: 0 10em 0 0;*/
}

#indexSectionTwoText>h1 {
    font-size: 3rem;
}

#indexSectionTwoText>h1>span {
    color: rgb(255, 255, 255);
}

#indexSectionTwoText>p>a>button {
    margin-top: 2rem;
    height: 3rem;
    background-color: var(--mainFontColor);
    color: white;
    border: none;
    padding: 1rem;
    font-weight: bold;
}

#indexSectionTwoImage {
    background-image: url(https://placehold.co/100x100);
    height: 100%;
  /*  border-radius: 0 0 0 10em; */ 
}

/* PORTFOLIO */
#portfolioSectionOne {
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#portfolioSectionContainer {
    border: 1px solid green;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 600px;
    width: 600px;
}

.imageWrap {
    border: 1px solid blue;
    position: relative;
}

.imageWrap > div {
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
}

.imageWrap > div > p {
    transition: .2s;
    transform: translateY(1em);
}

.imageWrap > img {
    background-image: url(https://placehold.co/200x200);
    height: 100%;
    width: 100%;
}

.imageWrap:hover #imageDescriptionLayerOne {
    visibility: visible;
    opacity: 1;
}

.imageWrap:hover #imageDescriptionLayerTwo {
    visibility: visible;
    opacity: 1;
}

.imageWrap:hover #imageDescriptionLayerThree {
    visibility: visible;
    opacity: 1;
}

.imageWrap:hover #imageDescriptionLayerFour {
    visibility: visible;
    opacity: 1;
}

.imageWrap:hover #imageDescriptionLayerFive {
    visibility: visible;
    opacity: 1;
}

.imageWrap:hover #imageDescriptionLayerSix {
    visibility: visible;
    opacity: 1;
}

.imageWrap:hover #imageDescriptionLayerSeven {
    visibility: visible;
    opacity: 1;
}

.imageWrap:hover #imageDescriptionLayerEight {
    visibility: visible;
    opacity: 1;
}

.imageWrap:hover #imageDescriptionLayerNine {
    visibility: visible;
    opacity: 1;
}

/*ABOUT ME*/

#aboutSectionOne {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: orange;
}

#aboutSectionOne > div > h2 > span {
    color: red;
}

#aboutSectionOne > div  {
    margin: var(--sizeSmall) var(--sizeBig);
}

#aboutSectionTwo > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#aboutSectionTwo > div > div {
    margin: var(--sizeSmall) var(--sizeBig); 
}

#aboutSectionThree {
    background-color: orange;
    padding: var(--sizeMedium);
}

#aboutSectionThree > h2 {
    margin-top: 0;
}

#aboutSectionThree > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#aboutSectionThree > div > div {
    margin: 0 var(--sizeSmall);
    padding: var(--sizeSmall);
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 0 var(--sizeSmall) 0 var(--sizeSmall);
}

.aboutIcons {
    border: 1px solid green;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CONTACT */

#conctactSectionOne {
    background-color: orange;
    padding: 1rem;
}

#conctactSectionOne > div > h2 {
    margin-top: 0;
    width: 100vw;
}

#contactSectionTwo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100vw;
    height: 50vh;
    border: 1px solid black;
}

#contactContainerOne {
    grid-column: 1;
    border: 1px solid red;
}


#contactContainerTwo {
    grid-column: 2/4; 
    border: 1px solid yellow;
    background-color: orange;
    padding: 2rem;
}

#contactContainerTwo > h2 {
    text-align: left;
}

#contactFormUpperArea {
    display: flex;
    flex-direction: row;
}

#contactFormUpperArea > div, #contactFormLowerArea {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    padding: 1rem;
}

input, textarea {
    background-color: transparent;
    border: 1px solid black;
    border-radius: 5px;
}

input {
    height: 2rem;
}